* {
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-image: url("images/new-kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.35);
  animation-name: changeBackground;
  animation-duration: 25s;
  animation-delay: 5s;

  /* animation-timing-function: steps(3); */
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes changeBackground {
  0%,
  33% {
    background-image: url("images/new-kitchen.jpg");
  }
  34%,
  67% {
    background-image: url("images/bathroom.jpeg");
  }
  68%,
  100% {
    background-image: url("images/yard.jpeg");
  }
}
#logo {
  font-family: "Noto Sans SC", sans-serif;
  color: white;
  padding-left: 20px;
  font-size: 18pt;
  font-weight: 100;
  display: flex;
  align-items: center;
}
#logo > img {
  width: 60px;
  height: 30px;
  filter: brightness(10);
  position: relative;
  right: 15px;
}

.head {
  display: grid;
  grid-template-columns: 0.5fr 6fr 3fr;
  height: 60px;
}
#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputs > div > i {
  border: 1pt solid red;
  background-color: red;
  color: white;
  /* border-radius: 3px; */
  /* border-end-end-radius: 3px; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 40px;
  height: 40px;
  position: relative;
  right: 10px;
}
.fa-magnifying-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#first-input {
  position: relative;
  padding-left: 10px;
  left: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#second-input {
  padding-left: 20px;
}
input {
  height: 30px;
  padding: 20px 0px;
  width: 350px;
  border-radius: 8px;
  border-right: 1pt solid lightgray;
  border-top: 0pt;
  border-left: 0pt;
  border-bottom: 0pt;
}
input:focus {
  outline: 0pt;
}

/* .head > div {
  border: 1pt solid red;
} */

.header-clickables {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
  padding-right: 25px;
}
.header-clickables > button,
#main-button {
  border-radius: 5px;
  height: 40px;
  padding: 10px 20px;
  width: fit-content;
  color: white;
  font-weight: 800;
  font-size: 1em;
}
.header-clickables > span {
  padding: 10px;
  border-radius: 5px;
}
.header-clickables > span:hover {
  background-color: rgb(211, 211, 211, 0.5);
}
#log-in {
  background-color: transparent;
  border: 1.5pt solid white;

  transition-property: background-color;
  transition-duration: 0.75s;
}
#log-in:hover {
  background-color: rgb(211, 211, 211, 0.5);
}
#sign-up,
#main-button {
  background-color: red;
  border: 1.5pt solid red;
}
#head_drop-downs {
  position: absolute;
  left: 320px;
  display: flex;
}
#head_drop-downs > span {
  padding: 0px 20px;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
}
#head_drop-downs > span:hover {
  border-bottom: 3pt solid brown;
}
#restaurants:hover + #restaurants-drop-down {
  display: grid;
  position: absolute;
  top: 20px;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
}
#homes:hover + #home-drop-down {
  display: grid;
  position: absolute;
  top: 20px;
  left: 123px;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
}
#autos:hover + #auto-drop-down {
  display: grid;
  position: absolute;
  top: 20px;
  left: 260px;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
}
#more:hover + #more-drop-down {
  display: grid;
  position: absolute;
  top: 20px;
  left: 393px;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
}
#head_drop-downs div {
  display: none;
  background-color: white;
  padding: 10px;
  width: max-content;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#head_drop-downs div span {
  font-weight: 200;
}
#main-button > i {
  display: inline;
}
h2 {
  font-family: "Noto Sans SC", sans-serif;
  color: white;
  position: relative;
  font-size: 40pt;
  font-weight: bolder;
  top: 110px;
  left: 400px;
}
h2::after {
  content: "Get a deep clean";
  animation-name: title-change;
  animation-duration: 25s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
#main-button {
  font-weight: 200;
  position: relative;
  padding: 10px 25px;
  top: 80px;
  left: 400px;
  cursor: pointer;
}
#main-button::after {
  content: " Cleaners";
  animation-name: button-change;
  animation-duration: 25s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes title-change {
  0%,
  33% {
    content: "Get a deep clean";
  }
  34%,
  67% {
    content: "Leave it to the pros";
  }
  68%,
  100% {
    content: "Show off your lawn this spring";
  }
}
@keyframes button-change {
  0%,
  33% {
    content: " Cleaners";
  }
  34%,
  67% {
    content: " Handyman";
  }
  68%,
  100% {
    content: " Landscapers";
  }
}
.bars {
  border: 6px solid white;
  border-color: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 40px 0px;
  width: fit-content;
}
#barOne {
  animation: bar-one;
  animation-duration: 25s;
  animation-delay: 5s;
  animation-timing-function: steps();
  animation-iteration-count: infinite;
}
@keyframes bar-one {
  0% {
    border-color: rgb(255, 255, 255, 0.4);
  }
  33% {
    border-color: rgb(255, 255, 255, 1);
  }
  34%,
  100% {
    border-color: rgb(255, 255, 255, 1);
  }
}
#barTwo {
  animation: bar-two;
  animation-duration: 25s;
  animation-delay: 5s;

  animation-iteration-count: infinite;
}
@keyframes bar-two {
  0%,
  33% {
    border-color: rgb(255, 255, 255, 0.4);
  }

  67% {
    border-color: rgb(255, 255, 255, 1);
  }

  100% {
    border-color: rgb(255, 255, 255, 1);
  }
}
#barThree {
  animation: bar-three;
  animation-duration: 25s;
  animation-delay: 5s;

  animation-iteration-count: infinite;
}
@keyframes bar-three {
  0%,
  67% {
    border-color: rgb(255, 255, 255, 0.4);
  }

  100% {
    border-color: rgb(255, 255, 255, 1);
  }
}

.bar-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: absolute;
  left: 350px;
  top: 200px;
}
